/* Reset */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-size: 100%;
  line-height: 1.25;
  scroll-behavior: smooth;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

/* Global styles */

@view-transition {
  navigation: auto;
}

:root {
  --font-family-mono: "Sometype Mono";
  --font-family-sans-serif: "DM Sans";
  --font-family-branding: "Poster Cut Neue";

  --font-family-body: var(--font-family-sans-serif);
  --font-family-heading: var(--font-family-mono);
  --color-red: #a53e1a;
  --color-green: #3d3f20;
  --color-yellow: #d18630;
  --color-light: #e6deca;
  --color-dark: #222222;
  --color: var(--color-dark);
  --background-color: var(--color-light);
  --background-color-darker: color-mix(in srgb, var(--color) 7%, var(--background-color, currentcolor));
  --border-radius: 10px;
  --animation-time-short: 0.25s;
  color-scheme: light only;
  accent-color: var(--color-green);
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/DM-Sans.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poster Cut Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Poster-Cut-Neue-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Sometype Mono";
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/SometypeMono-VariableFont_wght.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: var(--font-family-body), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--color);

  transition: all ease-in-out 0.2s;
}

main {
  display: flex;
  flex-flow: column;

  & section {
    padding: 3rem 2rem 2rem;
    background-color: var(--background-color);

    &:last-child {
      padding-bottom: 6rem;
    }

    & > p {
      max-width: 60ch;
    }
  }
}

a {
  color: inherit;
}

button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  letter-spacing: 0.15rem;
  text-decoration: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  border: 1px solid currentColor;
}

input,
select,
button,
textarea {
  background-color: var(--background-color-darker);
  border: none;
}

.font-body-2 {
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.28;
  letter-spacing: 0.15rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  font-family: var(--font-family-heading);
}

/* Utils */
[hidden] {
  display: none !important;
}

svg-mask {
  display: inline-block;
  width: 100%;
  height: var(--height, 30px);
  position: relative;
  background-color: var(--color, currentColor);
  mask: var(--src, url("/assets/images/trasla-eventos.svg")) no-repeat center;
  mask-size: contain;
}

.bg-pattern {
  position: absolute;
  overflow: hidden;
  inset: 0;
  opacity: 0.2;

  & .pattern-row {
    --row-height: 50px;
    --row-offset: 50px;
    position: relative;
    width: 100%;
    height: calc(var(--row-height) * 3);
    background-image: url("/assets/images/pattern.png");
    background-size: 200px;
    background-position: 0px 0px;
    background-repeat: repeat-x;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: var(--row-height);
      background-image: url("/assets/images/pattern.png");
      background-size: 200px;
      background-repeat: repeat-x;
      left: 0;
      top: var(--row-height);
    }

    &::before {
      background-position: calc(2 * var(--row-offset)) 0;
    }

    &::after {
      top: calc(2 * var(--row-height));
      background-position: calc(5 * var(--row-offset)) 0;
    }
  }
}

.mountains-top {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 40px;
    background-color: inherit;
    top: -39px;
    left: 0;
    right: 0;
    mask: url("/assets/textures/mountain-shape.svg") repeat-x 77px bottom;
  }
}

.card:not([hidden]) {
  display: flex;
  flex-flow: column;
  gap: 0.66rem;
  border-radius: var(--border-radius);
  min-width: min-content;
  text-align: center;
  border: 1px solid;
  padding: 1.5rem;
  max-width: 45ch;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.03);
}

.logo-title {
  margin-block-end: 1.5rem;
}
/* Components */
install-button > * {
  width: 100%;
}

#installInstructions {
  border-radius: var(--border-radius);
  padding: 1rem;
  max-width: min(40ch, 80%);
  border: none;
  text-transform: none;
  font-family: var(--font-family-body);

  button {
    margin: 1rem auto;
  }
  ul {
    text-align: start;
  }

  body:has(&[open]) {
    overflow-y: hidden;
  }
}

hero-section {
  display: flex;
  flex-flow: column;
  text-align: center;
  height: 54vh;
  height: 54lvh;
  justify-content: space-between;
  align-items: center;
  padding-block: 5rem;
  color: var(--color-light);

  &[slim] {
    height: min-content;
  }

  [slot="logo"] {
    display: inline-block;
    width: 9rem;
    color: var(--color-logo, var(--color-red));
  }

  [slot="title"] {
    [part="location"] {
      font-size: larger;
      font-weight: bold;
    }
  }
}

.font-title {
  line-height: 1.3;
  font-weight: 500;
  font-size: calc(1.3rem + 1vw);
  font-family: var(--font-family-branding);
  letter-spacing: 1px;
}

seo-block,
.seo-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

header {
  /* See site-header.js */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  position: fixed;
  inset: 0 0 auto;
  z-index: 2;
  --nav-button-color: var(--color-red);
  view-transition-name: site-header;
  color: var(--color-light);

  &.hide {
    transform: translateY(-100%);
  }

  nav-menu {
    opacity: 0;
    position: fixed;
    inset: 0;
    padding: 5rem 3rem;
    background-color: var(--color-red);
    &,
    details:has(> &)::details-content {
      transition: all var(--animation-time-short) ease-in-out;
      transition-behavior: allow-discrete;
    }
    details[open] & {
      opacity: 1;
      body:has(&) {
        overflow: hidden;
      }
    }
  }

  .bg-pattern {
    z-index: -1;
  }

  nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;

    > * {
      min-width: 15rem;
    }
  }

  footer {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;

    .contact-links {
      --icon-width: 22px;

      display: flex;
      gap: 2rem;

      svg-mask {
        width: var(--icon-width);
        height: var(--icon-width);
        background-color: var(--color-light);
      }
    }
  }

  .summary-hamburger-button {
    --line-color: var(--color-red);
    width: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    outline: none;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    appearance: none;

    &::-webkit-details-marker {
      display: none; /* iOS fix */
    }
    &::marker {
      content: none;
    }
    details[open] & {
      --line-color: var(--color-light);
    }
  }
  .summary-hamburger-button .line {
    height: 3px;
    background: var(--line-color);
    border-radius: 2px;
    transition: all var(--animation-time-short) ease-out;
  }
  details[open] .line:nth-of-type(1) {
    transform: translateY(225%) rotate(-45deg);
  }
  details[open] .line:nth-of-type(2) {
    opacity: 0;
  }
  details[open] .line:nth-of-type(3) {
    transform: translateY(-225%) rotate(45deg);
  }
}
