form:has(today-date-picker[today]) #hideOnToday {
  display: none;
}

today-date-picker {
  position: relative;
}

today-date-picker > * {
  width: 100%;
}

today-date-picker:not(:focus-within)[today]:before {
  content: "Hoy";
  background-color: var(--background-color-darker);
  z-index: 1;
  pointer-events: none;
  place-content: center;
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

today-date-picker:not(:focus-within)[today]:hover:before {
  content: none;
}

today-date-picker:not(:focus-within)[today]:after {
  content: "";
  z-index: 1;
  border-top: .25rem solid gray;
  border-left: .25rem solid #0000;
  border-right: .25rem solid #0000;
  width: 0;
  height: 0;
  margin-top: -.1rem;
  position: absolute;
  top: 50%;
  right: .5rem;
}

#viewMore {
  gap: 1.5rem;
  display: grid;
}

#viewMore > :not(.seo-only) {
  width: 100%;
  min-width: 15rem;
  color: var(--color-light);
  flex-flow: row;
  align-items: center;
  gap: 1rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-size: .66rem;
  font-weight: 600;
  display: flex;
  background-color: var(--color-green) !important;
}

events-filter:not(:has(event-entry)) #viewMoreEvents {
  display: none;
}

#about {
  text-align: center;
  flex-flow: column;
  align-items: center;
  display: flex;
}

section#eventos events-filter {
  text-wrap: balance;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  display: flex;
}

section#eventos events-filter form {
  --input-height: 2.3rem;
  display: var(--form-display, flex);
  text-align: center;
  flex-flow: column;
  align-items: stretch;
  gap: .66rem;
  width: 13rem;
}

section#eventos events-filter form .form-filters-as-heading {
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  gap: inherit;
  font-weight: 1.2rem;
  letter-spacing: initial;
  margin: 0;
}

section#eventos events-filter form .form-filters-as-heading :not(span) {
  font-weight: normal;
  font-size: initial;
}

section#eventos events-filter form button, section#eventos events-filter form select, section#eventos events-filter form input {
  text-align: inherit;
  height: var(--input-height);
  min-height: max-content;
  font: inherit;
  padding: .5rem;
}

section#eventos events-filter select-locality {
  --down-arrow-content: "";
  --options-to-show: 1;
  position: relative;
}

@media (hover: hover) {
  section#eventos events-filter select-locality {
    --options-to-show: 4;
    --down-arrow-content: none;
  }
}

@supports ((-moz-appearance: none)) {
  section#eventos events-filter select-locality {
    --options-to-show: 4;
    --down-arrow-content: none;
  }
}

section#eventos events-filter select-locality select {
  height: calc(var(--input-height) * var(--options-to-show));
  padding: 0;
}

section#eventos events-filter select-locality select option {
  height: var(--input-height);
  align-content: center;
}

section#eventos events-filter select-locality:after {
  content: var(--down-arrow-content);
  border-top: .25rem solid gray;
  border-left: .25rem solid #0000;
  border-right: .25rem solid #0000;
  width: 0;
  height: 0;
  margin-top: -.1rem;
  position: absolute;
  top: 50%;
  right: .5rem;
}

section#eventos events-filter select-locality > select {
  -webkit-appearance: none;
  appearance: none;
  color: currentColor;
  border-radius: 0;
  width: 100%;
  text-align: center !important;
}

section#eventos events-filter > :not(event-entries) {
  text-transform: uppercase;
}

section#eventos:not(:has(events-filter)) {
  --form-display: none;
  --summary-display: none;
}

section#eventos event-entries {
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  display: flex;
}

section#eventos event-entries[part="date-group"], section#eventos event-entries::part(date-group) {
  flex-flow: wrap;
  justify-content: center;
  gap: 2rem;
  display: flex;
}

section#eventos event-entries[part="date-label"], section#eventos event-entries::part(date-label) {
  font-family: var(--font-family-heading);
  text-align: center;
  width: 17ch;
  color: var(--color-light);
  z-index: 1;
  padding: .3rem;
  font-size: 1rem;
  font-weight: 500;
  position: sticky;
  top: 1.3rem;
}

section#eventos event-entries[part="date-label"]:before, section#eventos event-entries::part(date-label):before {
  content: "";
  z-index: -1;
  background-color: var(--color-green);
  border-radius: calc(var(--border-radius) / 2);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  min-height: 100%;
  margin: 0;
  font-size: 100%;
  line-height: 1.25;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

@view-transition {
  navigation: auto;
}

:root {
  --font-family-mono: "Sometype Mono";
  --font-family-sans-serif: "DM Sans";
  --font-family-branding: "Poster Cut Neue";
  --font-family-body: var(--font-family-sans-serif);
  --font-family-heading: var(--font-family-mono);
  --color-red: #a53e1a;
  --color-green: #3d3f20;
  --color-yellow: #d18630;
  --color-light: #e6deca;
  --color-dark: #222;
  --color: var(--color-dark);
  --background-color: var(--color-light);
  --background-color-darker: color-mix(in srgb, var(--color) 7%, var(--background-color, currentcolor));
  --border-radius: 10px;
  --animation-time-short: .25s;
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light only;
  accent-color: var(--color-green);
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/DM-Sans.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poster Cut Neue;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Poster-Cut-Neue-Regular.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Sometype Mono;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/SometypeMono-VariableFont_wght.ttf") format("truetype");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: var(--font-family-body), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  transition: all .2s ease-in-out;
}

main {
  flex-flow: column;
  display: flex;
}

main section {
  background-color: var(--background-color);
  padding: 3rem 2rem 2rem;
}

main section:last-child {
  padding-bottom: 6rem;
}

main section > p {
  max-width: 60ch;
}

a {
  color: inherit;
}

button, .button {
  letter-spacing: .15rem;
  text-transform: uppercase;
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: none;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: flex;
}

input, select, button, textarea {
  background-color: var(--background-color-darker);
  border: none;
}

.font-body-2 {
  letter-spacing: .1rem;
  font-size: .75rem;
  line-height: 1.2;
}

h2 {
  letter-spacing: .15rem;
  font-size: 1.25rem;
  line-height: 1.28;
}

h1, h2, h3, h4 {
  font-weight: 500;
  font-family: var(--font-family-heading);
}

[hidden] {
  display: none !important;
}

svg-mask {
  width: 100%;
  height: var(--height, 30px);
  background-color: var(--color, currentColor);
  -webkit-mask: var(--src, url("/assets/images/trasla-eventos.svg")) no-repeat center;
  mask: var(--src, url("/assets/images/trasla-eventos.svg")) no-repeat center;
  display: inline-block;
  position: relative;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.bg-pattern {
  opacity: .2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.bg-pattern .pattern-row {
  --row-height: 50px;
  --row-offset: 50px;
  width: 100%;
  height: calc(var(--row-height) * 3);
  background-image: url("/assets/images/pattern.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 200px;
  position: relative;
}

.bg-pattern .pattern-row:before, .bg-pattern .pattern-row:after {
  content: "";
  width: 100%;
  height: var(--row-height);
  left: 0;
  top: var(--row-height);
  background-image: url("/assets/images/pattern.png");
  background-repeat: repeat-x;
  background-size: 200px;
  position: absolute;
}

.bg-pattern .pattern-row:before {
  background-position: calc(2 * var(--row-offset)) 0;
}

.bg-pattern .pattern-row:after {
  top: calc(2 * var(--row-height));
  background-position: calc(5 * var(--row-offset)) 0;
}

.mountains-top {
  position: relative;
}

.mountains-top:before {
  content: "";
  background-color: inherit;
  height: 40px;
  display: block;
  position: absolute;
  top: -39px;
  left: 0;
  right: 0;
  -webkit-mask: url("/assets/textures/mountain-shape.svg") 77px bottom repeat-x;
  mask: url("/assets/textures/mountain-shape.svg") 77px bottom repeat-x;
}

.card {
  border-radius: var(--border-radius);
  text-align: center;
  content-visibility: auto;
  contain: paint layout style;
  subtree-visibility: auto;
  contain-intrinsic-height: 55rem;
  background-color: #00000008;
  border: 1px solid;
  flex-flow: column;
  gap: .66rem;
  min-width: min-content;
  max-width: 45ch;
  height: fit-content;
  padding: 1.5rem;
  display: flex;
}

.logo-title {
  margin-block-end: 1.5rem;
}

#fixed-background {
  width: 100vw;
  height: 100vh;
  height: 100vhl;
  z-index: -1;
  object-fit: cover;
  view-transition-name: fixed-background;
  position: fixed;
  top: 0;
}

install-button > * {
  width: 100%;
}

#installInstructions {
  border-radius: var(--border-radius);
  text-transform: none;
  max-width: min(40ch, 80%);
  font-family: var(--font-family-body);
  border: none;
  padding: 1rem;
}

#installInstructions button {
  margin: 1rem auto;
}

#installInstructions ul {
  text-align: start;
}

body:has(#installInstructions[open]) {
  overflow-y: hidden;
}

hero-section {
  text-align: center;
  height: 54vh;
  height: 54lvh;
  color: var(--color-light);
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 5rem;
  padding-block-end: 5rem;
  display: flex;
}

hero-section[slim] {
  height: min-content;
}

hero-section [slot="logo"] {
  width: 9rem;
  color: var(--color-logo, var(--color-red));
  display: inline-block;
}

hero-section [slot="title"] [part="location"] {
  font-size: larger;
  font-weight: bold;
}

.font-title {
  font-size: calc(1.3rem + 1vw);
  font-weight: 500;
  line-height: 1.3;
  font-family: var(--font-family-branding);
  letter-spacing: 1px;
}

seo-block, .seo-only {
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
}

header {
  z-index: 2;
  --nav-button-color: var(--color-red);
  view-transition-name: site-header;
  color: var(--color-light);
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}

header.hide {
  transform: translateY(-100%);
}

header nav-menu {
  opacity: 0;
  background-color: var(--color-red);
  padding: 5rem 3rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header nav-menu {
  transition: all var(--animation-time-short) ease-in-out;
  transition-behavior: allow-discrete;
}

details:has( > header nav-menu)::details-content {
  transition: all var(--animation-time-short) ease-in-out;
  transition-behavior: allow-discrete;
}

details[open] :is(header nav-menu) {
  opacity: 1;
}

body:has(details[open] :is(header nav-menu)) {
  overflow: hidden;
}

header .bg-pattern {
  z-index: -1;
}

header nav {
  flex-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  display: flex;
}

header nav > * {
  min-width: 15rem;
}

header footer {
  text-align: center;
  text-transform: uppercase;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
  display: flex;
  position: absolute;
  bottom: 2rem;
}

header footer .contact-links {
  --icon-width: 22px;
  gap: 2rem;
  display: flex;
}

header footer .contact-links svg-mask {
  width: var(--icon-width);
  height: var(--icon-width);
  background-color: var(--color-light);
}

header .summary-hamburger-button {
  --line-color: var(--color-red);
  cursor: pointer;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  flex-direction: column;
  gap: 4px;
  width: 2rem;
  list-style: none;
  display: flex;
  position: relative;
}

header .summary-hamburger-button::-webkit-details-marker {
  display: none;
}

header .summary-hamburger-button::marker {
  content: none;
}

details[open] :is(header .summary-hamburger-button) {
  --line-color: var(--color-light);
}

header .summary-hamburger-button .line {
  background: var(--line-color);
  height: 3px;
  transition: all var(--animation-time-short) ease-out;
  border-radius: 2px;
}

header details[open] .line:first-of-type {
  transform: translateY(225%)rotate(-45deg);
}

header details[open] .line:nth-of-type(2) {
  opacity: 0;
}

header details[open] .line:nth-of-type(3) {
  transform: translateY(-225%)rotate(45deg);
}

event-entry:not([hidden])[excluded] {
  display: none;
}

event-entry:not([hidden]) .badges {
  text-transform: uppercase;
  letter-spacing: .1rem;
  justify-content: center;
  gap: .5rem;
  font-weight: bold;
  display: flex;
}

event-entry:not([hidden]) .badges > * {
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: calc(var(--border-radius) / 2);
  padding: .5rem 1rem;
  font-size: .66rem;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
}

event-entry:not([hidden]) .badges > *[data-type="Taller"] {
  background-color: var(--color-yellow);
}

event-entry:not([hidden]) .badges > *[data-type="Evento"] {
  background-color: var(--color-green);
}

event-entry:not([hidden]) [part="where-and-when"] {
  align-self: center;
  width: max-content;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-weight: normal;
}

event-entry:not([hidden]) [part="title"], event-entry:not([hidden]) [part="where-and-when"] {
  text-transform: uppercase;
  margin: 0;
}

:is(event-entry:not([hidden]) [part="title"], event-entry:not([hidden]) [part="where-and-when"]):after {
  content: "";
  border-block-end: 1px solid var(--color);
  margin-block-start: .5rem;
  margin-block-end: .5rem;
  display: block;
}

event-entry:not([hidden]) [part="title"]:after {
  margin-block-end: .25rem;
}

event-entry:not([hidden]) [part="buttons"] {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

event-entry:not([hidden]) details summary {
  display: var(--summary-display, revert);
  cursor: pointer;
  position: relative;
}

event-entry:not([hidden]) details summary::-webkit-details-marker {
  display: none;
}

event-entry:not([hidden]) [part="description"] {
  word-break: break-word;
  text-wrap: balance;
  text-align: start;
  margin-block-start: .5rem;
  margin-block-end: 0;
}

event-entry:not([hidden]) [part="button"] {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: .5rem .5rem 0;
  text-decoration: none;
  transition-duration: .2s;
}

event-entry:not([hidden]) [part="button"]:hover, event-entry:not([hidden]) [part="button"]:focus {
  background-color: color-mix(in srgb, var(--color, currentColor) 10%, transparent);
}

horizontal-carousel {
  object-fit: contain;
  cursor: pointer;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  border-radius: 10px;
  width: 100%;
  height: auto;
  min-height: 15rem;
  max-height: 80vh;
  display: flex;
  position: relative;
  overflow-x: auto;
}

horizontal-carousel[show-controls] {
  counter-increment: carousel-counter;
  anchor-name: var(--anchor-name, --carousel);
  scroll-marker-group: after;
  scrollbar-width: none;
}

horizontal-carousel[show-controls]::scroll-button(left) {
  content: "◄" / "Imagen anterior";
  left: calc(anchor(left)  - 2.2rem);
}

horizontal-carousel[show-controls]::scroll-button(right) {
  content: "►" / "Imagen siguiente";
  right: calc(anchor(right)  - 2.2rem);
}

horizontal-carousel[show-controls]::scroll-button(*) {
  position-anchor: var(--anchor-name, --carousel);
  align-self: anchor-center;
  cursor: pointer;
  background: none;
  border: none;
  height: 15rem;
  padding: 1rem;
  line-height: 1;
  position: absolute;
}

horizontal-carousel[show-controls]::scroll-button(*):focus-visible {
  outline-offset: .5rem;
}

horizontal-carousel[show-controls]::scroll-marker-group {
  justify-content: center;
  width: min-content;
  margin-block-start: -.5rem;
  margin-block-end: 1rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
}

horizontal-carousel[show-controls] img::scroll-marker {
  content: "●";
  width: 1em;
  height: 1em;
  color: var(--color-green);
  padding: .3rem;
  text-decoration: none;
}

horizontal-carousel[show-controls] img::scroll-marker:target-current {
  color: var(--color-yellow);
}

horizontal-carousel img {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  object-fit: contain;
  flex-shrink: 0;
  max-width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  scroll-margin-top: 5rem;
}

carousel-dots {
  z-index: 1;
  justify-content: center;
  width: min-content;
  max-width: 80vw;
  margin-block-start: -.5rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-size: .5rem;
  display: flex;
  overflow: hidden;
}

carousel-dots > * {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  place-content: center;
  padding: .5rem;
  text-decoration: none;
  display: grid;
}
