form textarea {
  padding: 1ch;
}

#imagesPreview {
  scroll-behavior: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  min-height: 12rem;
  display: flex;
  overflow-x: scroll;
}

#imagesPreview > * {
  scroll-snap-align: center;
  width: 100%;
  min-width: 100%;
  position: relative;
}

#imagesPreview > * button {
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: none;
  padding: .5rem;
  font-size: 1.5rem;
  line-height: 1;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

:is(#imagesPreview > *:hover, #imagesPreview > *:focus-within) button {
  display: block;
}

@media (hover: none) {
  #imagesPreview > * button {
    display: block;
  }
}

#imagesPreview img {
  object-fit: contain;
  width: 100%;
}

#imagesPreview > :last-child {
  background-color: var(--background-color-darker);
  place-content: center;
  display: grid;
}

.other-options {
  text-align: center;
  text-transform: uppercase;
  padding-top: 0;
}

.other-options h2 {
  margin-bottom: 2rem;
}

.other-options .upload-options {
  text-align: start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  display: flex;
}

.other-options .upload-options > * {
  align-items: center;
  justify-content: initial;
  width: 100%;
  min-width: 16rem;
  max-width: 23rem;
  color: var(--color-light);
  grid-template-columns: 3rem auto;
  display: grid;
}

.other-options .upload-options > * span {
  container-type: inline-size;
}

.other-options .upload-options > *[type="submit"] {
  background-color: var(--color-green);
}

.other-options .upload-options > *:first-of-type {
  background-color: var(--color-yellow);
}

.other-options .upload-options > *:last-of-type {
  background-color: var(--color-red);
}

@container (width >= 25ch) {
  .button > span > br {
    display: none;
  }
}

:root {
  --button-icon-size: 1.5rem;
}

form {
  gap: 1rem;
  max-width: 45ch;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 1rem;
  display: grid;
}

form button[type="submit"] {
  background-color: var(--color-green);
  color: var(--color-light);
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

event-entry:not([hidden]) {
  border-radius: var(--border-radius);
  text-align: center;
  border: 1px solid;
  flex-flow: column;
  gap: .66rem;
  min-width: min-content;
  padding: 1.5rem;
  display: flex;
}

button[type="submit"] {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  display: flex;
}

button[type="submit"] img {
  height: 1rem;
}

site-header header {
  z-index: 2;
  --nav-button-color: var(--color-red);
  view-transition-name: site-header;
  color: var(--color-light);
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}

site-header header.hide {
  transform: translateY(-100%);
}

site-header header nav-menu {
  opacity: 0;
  background-color: var(--color-red);
  padding: 5rem 3rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

site-header header nav-menu {
  transition: all var(--animation-time-short) ease-in-out;
  transition-behavior: allow-discrete;
}

details:has( > site-header header nav-menu)::details-content {
  transition: all var(--animation-time-short) ease-in-out;
  transition-behavior: allow-discrete;
}

details[open] :is(site-header header nav-menu) {
  opacity: 1;
}

body:has(details[open] :is(site-header header nav-menu)) {
  overflow: hidden;
}

site-header header .bg-pattern {
  z-index: -1;
}

site-header header nav {
  text-align: center;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  display: flex;
}

site-header header nav [part="nav-link"] {
  text-transform: uppercase;
  margin-block-start: 1rem;
  font-size: 1rem;
}

site-header header nav > * {
  min-width: 15rem;
}

site-header header footer {
  text-align: center;
  text-transform: uppercase;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
  display: flex;
  position: absolute;
  bottom: 2rem;
}

site-header header footer .contact-links {
  --icon-width: 22px;
  gap: 2rem;
  display: flex;
}

site-header header footer .contact-links svg-mask {
  width: var(--icon-width);
  height: var(--icon-width);
  background-color: var(--color-light);
}

site-header header .summary-hamburger-button {
  --line-color: var(--color-red);
  cursor: pointer;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  flex-direction: column;
  gap: 4px;
  width: 2rem;
  list-style: none;
  display: flex;
  position: relative;
}

site-header header .summary-hamburger-button::-webkit-details-marker {
  display: none;
}

site-header header .summary-hamburger-button::marker {
  content: none;
}

details[open] :is(site-header header .summary-hamburger-button) {
  --line-color: var(--color-light);
}

site-header header .summary-hamburger-button .line {
  background: var(--line-color);
  height: 3px;
  transition: all var(--animation-time-short) ease-out;
  border-radius: 2px;
}

site-header header details[open] .line:first-of-type {
  transform: translateY(225%)rotate(-45deg);
}

site-header header details[open] .line:nth-of-type(2) {
  opacity: 0;
}

site-header header details[open] .line:nth-of-type(3) {
  transform: translateY(-225%)rotate(45deg);
}

site-footer footer {
  font-family: var(--font-family-mono);
  background-color: var(--color-green);
  color: var(--color-light);
  text-align: center;
  text-transform: uppercase;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  display: flex;
  position: relative;
}

site-footer footer > * {
  z-index: 1;
  justify-content: center;
  min-width: 15rem;
  text-decoration: none;
}

site-footer footer svg-mask {
  --color: var(--color-light);
}

site-footer footer fieldset {
  border-width: 1px;
  border-left-style: solid;
  border-color: var(--background-color);
  outline: none;
  max-width: 800px;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  padding: 1rem;
  line-height: 1rem;
}

site-footer footer fieldset a {
  text-decoration: none;
}

site-footer footer fieldset legend {
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: .5rem;
  padding-inline-end: .5rem;
}

site-footer footer .contact-links {
  --icon-width: 22px;
  gap: 2rem;
  display: flex;
}

site-footer footer .contact-links svg-mask {
  width: var(--icon-width);
  height: var(--icon-width);
}
